*{
    margin: 0;
    padding: 0;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
}

.topNav {
    display: flex;
    align-items: center;
    gap: 60px;
}
.navContainer {
    display: flex;
    gap: 20px;
}

.NavList {
    list-style: none;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.logButtons {
    display: flex;
    gap: 20px;
    
    
}
.login{
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.register{
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.Hamburger {
    display: none;
}


@media (max-width: 767px) and (min-width: 320px) {

    .navContainer, .logButtons{
        display: none;
    }
    .Hamburger {
        display: block;
    }

    .topNav{
        align-items: center;   
        width: 100%;
    }
    .topNav h1{
        font-size: 30px;
        padding-top: 20px;
        align-self: center;
        
    }
   
   
        

    .hero{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}
